#container{
    max-height: 150%;
    overflow: auto;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.character{
    background-color: rgba(230, 230, 250,0.66);
    width: 99%;
    border: 5px solid #8A2BE2;
    margin-top: 15px;
    position: relative;
}
img{
    border: 5px solid black;
    margin: 6px;
    display: inline-block;
    width: 25%;
}
.eventText{
    width: 70%;
    display: inline-block;
}
span{
    font-weight: bold;
    font-size: 1.5em;
}
#container a{
    color: black;
}