body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url("https://i.playground.ru/i/blog/306530/content/lg2vgj78.jpg");
}
* {
    box-sizing: border-box;
}
.container {
    border-radius: 5%;
    background-color: black;
    opacity: 0.9;
    color:yellow;
    top:10px;
    position: relative;
    left:30%;
    width: 40%;
    padding: 5px;
}
.header_section{
    display:flex;
    justify-content: space-between;
    padding:20px;
    background: black;
    color: white;
    align-items: center;
}
.headerButton{
    padding:10px 60px;
    font-size: 20px;
    margin-left: 5px;
    font-style: italic;
}
.headerlogo{
    font-size:40px;
    color: red;
    border: 2px solid red;
    font-family: Impact,serif;
    padding: 0 10px 0 10px;
}
a{
    color: red;
    text-decoration: none;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: #f1f1f1;
}
hr {
    border: 1px solid yellow;
    margin-bottom: 25px;
}
#signin {
    background-color: red;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.error{
    background-color:red;
    border:5px solid black;
    font-weight:bold;
    padding:10px;
    width:30%;
    margin:5px;
}
#errors{
    display: flex;
    justify-content: center;
}
hr {
    border: 1px solid yellow;
    margin-bottom: 25px;
}

